.scroll-section {
    overflow-y: auto;
    max-height: 100%;
}

.hide-slider::-webkit-scrollbar {
    display: none;
}

.card {
    margin: 1em;
}

.board-collection {
    border: none;
}

.board-collection .board-name {
    width: 100%;
}

.ccard .ccard-color-mark {
    height: 20px;
}

.full-size {
    height: 100%;
    width: 100%;
    display: flex;
}

#collection-add-tool .collection-color-mark {
    width: 100%;
    border: none;
    border-width: 0;
    height: 4em;
}