.scroll-section {
    overflow-y: auto;
    max-height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

/* Regular button */

.create-button-tool .create-button-header {
    width: 100%;
}

.create-button-tool.regular-button .create-button-content, .create-button-title, .create-button-description {
    font-size: 1.4em !important;
    font-weight: 400;
}

.create-button-tool.regular-button .create-button-content {
    resize: vertical;
    margin: .5em 0 0 0;
    border-style: dotted;
    border-radius: 0.2em;
}

.create-collection-button-color {
    display: flex;
    justify-content: space-between;
}

.create-collection-button-color .color {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.create-collection-button-color .color.active {
    border-width: 2px;
    border-style: dotted;
}

/* Collection creation */

.create-collection-tool .create-collection-color {
    width: 100%;
    margin: .5em 0 0 0;
    border: none;
    border-width: 0;
    height: 2em;
}

.create-collection-tool .create-collection-header {
    width: 100%;
}

/* List of collections */

.list-collection {
    max-height: 30vh;
}

.list-collection .list-collection-title {
    width: 100%;
}

/* Button card - regular */

.button-card-regular .button-card-copy {
    width: 100%;
}

.button-card-area .card {
    border-width: 0 .2rem;
}