{% extends "copy_board/html/base.html" %}
{% block content %}
<div class="container">
    <p class="center"><strong>Password reset.</strong></p>
    <p class="center">Enter your email address below, and we’ll email instructions for setting a new password.</p>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col s12 offset-s0 l4 offset-l4">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <input type="submit" value="reset password" class="btn"/>
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
    </form>
</div>
{% endblock %}