html {
    font-size: 15px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

nav {
    box-shadow: 0 0 3px 0px #a3a3a3;
}

nav .user-name {
    font-size: 1.5rem;
}

.navbar-fixed .brand-logo {
    margin-left: .5rem;
    font-size: 2rem;
}

.navbar-fixed ul:nth-child(3) a {
    /* User section */
    display: flex;
}

.navbar-fixed ul:nth-child(3) span {
    margin: 0 .5rem 0 0;
}

.btn-wide, .wide {
    width: 100%;
}

.btn-slim, .slim {
    width: auto;
    padding-right: 5px;
    padding-left: 5px;
}

#cc-collection-holder {
    max-height: 30rem;
    margin: .5rem 0;
}

#cc-collection-holder>label, #tool-holder>label, #cc-collection-builder>label {
    font-size: 1rem;
}

.cc-collection {
    margin: .1rem;
    padding: .3rem;
}

.cc-collection .card-content {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 0 .4rem;
    width: 100%;
}

.cc-collection .card-content i {
    font-size: 1.3rem;
    margin: auto 0 auto .3rem;
}

.cc-collection .cc-collection-title {
    display: flex;
    font-size: 1rem;
    width: 100%;
}

.cc-collection .cc-collection-title label {
    font-size: 1rem;
    margin: auto .3rem;
}

.dropdown-content {
    height: auto !important;
    box-shadow: 0 0 3px 0px #a3a3a3;
}

.dropdown-content li {
    min-height: unset !important;
}

.dropdown-content a {
    padding: .5rem !important;
    font-size: 1rem !important;
}

#tool-holder .collapsible-header {
    display: flex;
    justify-content: space-between;
}

#tool-holder .collapsible-header span {
    font-size: 1rem;
    margin: 0;
}

#tool-holder .collapsible-header i {
    font-size: 1.4rem;
    margin: 0;
}

#tool-holder .collapsible-body {
    padding: .5rem;
}

#tool-holder input, a, button {
    font-size: 1rem;
}

.color-picker, .access-type-picker {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
}

.color-picker label {
    width: 100%;
    height: 1rem;
    cursor: pointer;
}

.color-picker input:checked+label {
    z-index: 10;
    box-shadow: 0 0 5px 0px black;
}

#card_builder textarea {
    height: 7rem;
    border-radius: 0.2rem;
    resize: vertical;
    border-style: solid;
}

#card_builder .tabs a {
    text-align: center;
    width: 100%;
    font-size: 1rem !important;
    text-overflow: unset !important;
    overflow: unset !important;
}

#card_holder .card {
    margin-top: 2px;
    margin-bottom: 2px;
}

#card_holder {
    margin-top: .3rem;
}

#card_holder .card .card-title {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#card_holder .card-regular-content, .card-iterative-content {
    font-size: 1rem;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

#card_holder .card .cc-card-action {
    display: flex;
    height: 100%;
}

#card_holder .card .cc-card-action button {
    font-size: 1rem;
}

#card_holder .card .copy {
    width: 100%;
}

.scroll-section {
    overflow-y: auto;
    max-height: 90vh;
}

::-webkit-scrollbar {
    display: none;
}

/* DnD */

/* DnD start */

.dnd-dropzone {
    opacity: 0.6;
}

.dnd-dragged {
    opacity: 0.3;
}

.dnd-dragover {
    opacity: 0.9;
    box-shadow: 0 0 20px 12px silver;
}

/* Toast on copy */

.card-copy-toast {
    width: 16vw;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.template, .hidden {
    display: none !important;
}

.dropdown-content {
    position: fixed;
    z-index: 100000000;
}

.grid-item {
    width: 33%;
}