<!-- Tools to create collection -->
<div id="ccollection-builder">
    <label>Collection title</label>
    <input field="title">
    <label>
        <input name="group1" type="radio" checked />
    </label>
    <label>Chose type of collection</label>
    <p>
        <label><input name="group1" type="radio" checked /><span>Public</span></label>
        <label><input name="group1" type="radio" /><span>Private</span></label>
        <button field="save" class="btn right" disabled>create</button>
    </p>
</div>
