<!-- CCard regular -->
<div class="grid-item template ccard-regular">
    <div field="color" draggable="true" class="lighten-3 ccard card">
        <div class="card-content">
            <div field="title" class="card-title ccard-title"></div>
            <div field="content" class="ccard-regular-content hidden"></div>
        </div>
        <div class="ccard-action" field="color">
            <a href="#!" draggable="false" field="copy" class="lighten-2 btn ccard-copy">copy</a>
        </div>
    </div>
</div>
