<!-- CCard iterative -->
<div class="grid-item template ccard-iterative">
    <div field="color" draggable="true" class="lighten-3 card ccard">
        <div class="card-content">
            <div field="title" class="card-title ccard-title"></div>
            <div field="value" class="ccard-iterative-content center-align"></div>
        </div>
        <div field="color" class="ccard-action">
            <a href="#!" draggable="false" field="copy-prev" class="btn lighten-2"><i class="material-icons">navigate_before</i></a>
            <a href="#!" draggable="false" field="reload" class="btn lighten-2"><i class="material-icons">loop</i></a>
            <a href="#!" draggable="false" field="copy" class="btn ccard-copy lighten-2">copy</a>
            <a href="#!" draggable="false" field="copy-next" class="btn lighten-2"><i class="material-icons">navigate_next</i></a>
        </div>
    </div>
</div>