<div id="ccollection-holder" class="scroll-section">
    <!-- Collection representation -->
    <div class="card ccollection">
        <div class="card-content valign-wrapper">
            <span class="ccollection-title">
                <span class="truncate" field="title">Main<label field="type">public</label></span>
                <i class="dropdown-trigger material-icons blue-grey-text" data-target='dropdown-main'>more_vert</i>
            </span>
        </div>
        <ul id="dropdown-main" class="dropdown-content">
            <li><a class="blue-grey-text" field="share" href="#!">Share</a></li>
            <li><a class="blue-grey-text" field="edit" href="#!">Edit</a></li>
            <li><a class="blue-grey-text" field="delete" href="#!">Delete</a></li>
        </ul>
    </div>
    <!-- Collection card template -->
    <div class="card ccollection template">
        <div class="card-content valign-wrapper">
            <span class="ccollection-title">
                <span class="truncate" field="title">Main<label field="type">public</label></span>
                <i class="dropdown-trigger material-icons blue-grey-text" data-target='dropdown-template'>more_vert</i>
            </span>
        </div>
        <ul id="dropdown-template" class="dropdown-content">
            <li><a class="blue-grey-text" field="share" href="#!">Share</a></li>
            <li><a class="blue-grey-text" field="edit" href="#!">Edit</a></li>
            <li><a class="blue-grey-text" field="delete" href="#!">Delete</a></li>
        </ul>
    </div>
</div>
