<!-- Tools to create collection -->
<div>
    <form id="ccollection-builder" method="post">{% csrf_token %}
        <input name="title" field="title">
        <div field="color" class="color-picker">
        {% for item in color_set %}
            <input id="ccollection-builder-{{item}}" name="color" type="radio" value="{{item}}"  {% if item == default_color %}checked{% endif %}/><label for="ccollection-builder-{{item}}" class="{{item}} lighten-3"></label>
        {% endfor %}
        </div>
        <p field="access_type">
        {% for item in access_type_set %}
            <label><input name="access_type" type="radio" value="{{item}}" {% if item == default_access_type %}checked{% endif %}/><span>{{item}}</span></label>
        {% endfor %}
        </p>
        <input type="submit" field="save" class="btn" value="create" disabled>
    </form>
</div>
