{% extends "copy_board/html/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <!-- Toolbar - left column -->
        <div id="tool-holder" class="col s12 l2">
            <label>Your copy boards</label>
            {% include "copy_board/html/ccollection_holder.html" %}
            <label>Create new copy board</label>
            {% include "copy_board/html/ccollection_builder.html" %}
            <label>Create new copy card</label>
            {% include "copy_board/html/ccard_builder.html" %}
        </div>
        <!-- CCard holder - center -->
        <div class="col s12 l7">
            <div id="ccard-holder" class="grid">
            </div>
        </div>
    </div>
    {% include "copy_board/html/ccard_regular.html" %}
    {% include "copy_board/html/ccard_iterative.html" %}
    <script type="text/javascript" src="{% static 'common/js/masonry.min.js' %}"></script>
    <script> {% include "copy_board/js/common.js" %} </script>
    <script> {% include "copy_board/js/interface_draggable.js" %} </script>
    <script> {% include "copy_board/js/interface_template.js" %} </script>
    <script> {% include "copy_board/js/init.js" %} </script>
{%endblock%}
